.sign-in{
    width: 30vw;
    display: flex;
    flex-direction: column;
    .title{
        margin: 10px 0;
    }
}

/* .submit-form{
    background-color: white;
    border: 1px solid black;
    width: 1vw;
    height: 1vw;
    cursor: pointer;
} */