.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;
    .title{
        margin: 10px 0;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
    }
}

/* .submit-form{
    background-color: white;
    border: 1px solid black;
    width: 1vw;
    height: 1vw;
    cursor: pointer;
} */